* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.site__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.title-h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #284854;
    margin-top: 5px;
}
.subtitle-h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #60C1BD;
}
.btn {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: none;
    padding: 5px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .6s;
    &:hover {
        color: #284854;
        border: 1px solid #284854;
    }
}

@import 'blocks/header';
@import 'blocks/partner';
@import 'blocks/how-works';

@import 'media';